In [1]:
from catboost import CatBoostClassifier

import pandas as pd
import numpy as np
import pycaret
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split  # For splitting data
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder  # For scaling
from sklearn.impute import SimpleImputer  # For handling missing values
from sklearn.preprocessing import OneHotEncoder, LabelEncoder  # For encoding categorical data
pd.set_option('display.max_rows', 500)

# Dataset Zidan

In [2]:
df_train = pd.read_csv("try out_TRAIN_zidan.csv")
df_test = pd.read_csv("try out_TEST_zidan(1).csv")

df_train

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,0,1,0,1,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,0,0,0,0,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,1,1,1,1,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,0,0,0,1,0,135000.0,312682.5,29686.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
4,100007,0,0,1,0,1,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,0,1,0,0,0,157500.0,254700.0,27558.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307507,456252,0,0,0,0,1,0,72000.0,269550.0,12001.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307508,456253,0,0,0,0,1,0,153000.0,677664.0,29979.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,0,0,0,1,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,0,0,0,0,0,157500.0,675000.0,49117.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

In [3]:
X = df_train.drop('TARGET', axis=1)
y = df_train['TARGET']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [4]:
from imblearn.over_sampling import SMOTE

smote = SMOTE(random_state=42)
X_resampled, y_resampled = smote.fit_resample(X_train, y_train)

In [66]:
# Initialize the CatBoostClassifier model
catboost = CatBoostClassifier(iterations=100, learning_rate=0.01, depth=3, random_state=42, verbose=1)

# Train the model
catboost.fit(X_resampled,y_resampled)

0:	learn: 0.6905414	total: 27.1ms	remaining: 2.68s
1:	learn: 0.6879501	total: 55.1ms	remaining: 2.7s
2:	learn: 0.6854611	total: 82.7ms	remaining: 2.67s
3:	learn: 0.6829697	total: 110ms	remaining: 2.64s
4:	learn: 0.6805580	total: 138ms	remaining: 2.61s
5:	learn: 0.6781657	total: 165ms	remaining: 2.59s
6:	learn: 0.6758251	total: 195ms	remaining: 2.59s
7:	learn: 0.6735430	total: 224ms	remaining: 2.58s
8:	learn: 0.6712754	total: 258ms	remaining: 2.61s
9:	learn: 0.6690524	total: 284ms	remaining: 2.56s
10:	learn: 0.6668671	total: 313ms	remaining: 2.53s
11:	learn: 0.6647010	total: 339ms	remaining: 2.49s
12:	learn: 0.6625563	total: 366ms	remaining: 2.45s
13:	learn: 0.6605067	total: 393ms	remaining: 2.42s
14:	learn: 0.6584150	total: 422ms	remaining: 2.39s
15:	learn: 0.6564226	total: 449ms	remaining: 2.36s
16:	learn: 0.6544325	total: 478ms	remaining: 2.33s
17:	learn: 0.6524708	total: 508ms	remaining: 2.31s
18:	learn: 0.6505929	total: 534ms	remaining: 2.28s
19:	learn: 0.6487446	total: 562ms	remaining: 2.25s
20:	learn: 0.6468921	total: 592ms	remaining: 2.23s
21:	learn: 0.6450944	total: 621ms	remaining: 2.2s
22:	learn: 0.6433016	total: 647ms	remaining: 2.17s
23:	learn: 0.6415379	total: 675ms	remaining: 2.14s
24:	learn: 0.6398390	total: 708ms	remaining: 2.12s
25:	learn: 0.6381301	total: 737ms	remaining: 2.1s
26:	learn: 0.6364918	total: 772ms	remaining: 2.09s
27:	learn: 0.6312943	total: 804ms	remaining: 2.07s
28:	learn: 0.6297423	total: 833ms	remaining: 2.04s
29:	learn: 0.6281718	total: 864ms	remaining: 2.02s
30:	learn: 0.6221532	total: 899ms	remaining: 2s
31:	learn: 0.6173587	total: 933ms	remaining: 1.98s
32:	learn: 0.6117051	total: 973ms	remaining: 1.98s
33:	learn: 0.6102229	total: 1.01s	remaining: 1.96s
34:	learn: 0.6049944	total: 1.05s	remaining: 1.96s
35:	learn: 0.6035628	total: 1.09s	remaining: 1.94s
36:	learn: 0.6021431	total: 1.13s	remaining: 1.93s
37:	learn: 0.6007625	total: 1.17s	remaining: 1.91s
38:	learn: 0.5994064	total: 1.2s	remaining: 1.88s
39:	learn: 0.5981020	total: 1.23s	remaining: 1.85s
40:	learn: 0.5932207	total: 1.26s	remaining: 1.82s
41:	learn: 0.5875263	total: 1.29s	remaining: 1.78s
42:	learn: 0.5821494	total: 1.32s	remaining: 1.75s
43:	learn: 0.5780786	total: 1.35s	remaining: 1.72s
44:	learn: 0.5769353	total: 1.38s	remaining: 1.69s
45:	learn: 0.5757826	total: 1.41s	remaining: 1.66s
46:	learn: 0.5745840	total: 1.44s	remaining: 1.63s
47:	learn: 0.5734803	total: 1.47s	remaining: 1.59s
48:	learn: 0.5723344	total: 1.5s	remaining: 1.56s
49:	learn: 0.5711613	total: 1.53s	remaining: 1.53s
50:	learn: 0.5662531	total: 1.56s	remaining: 1.5s
51:	learn: 0.5640171	total: 1.59s	remaining: 1.47s
52:	learn: 0.5598338	total: 1.63s	remaining: 1.44s
53:	learn: 0.5562002	total: 1.66s	remaining: 1.41s
54:	learn: 0.5551025	total: 1.69s	remaining: 1.39s
55:	learn: 0.5540968	total: 1.73s	remaining: 1.36s
56:	learn: 0.5530745	total: 1.77s	remaining: 1.33s
57:	learn: 0.5520412	total: 1.8s	remaining: 1.3s
58:	learn: 0.5510308	total: 1.84s	remaining: 1.28s
59:	learn: 0.5500752	total: 1.88s	remaining: 1.25s
60:	learn: 0.5457688	total: 1.92s	remaining: 1.23s
61:	learn: 0.5448266	total: 1.95s	remaining: 1.2s
62:	learn: 0.5415192	total: 1.99s	remaining: 1.17s
63:	learn: 0.5379211	total: 2.03s	remaining: 1.14s
64:	learn: 0.5370226	total: 2.06s	remaining: 1.11s
65:	learn: 0.5360574	total: 2.08s	remaining: 1.07s
66:	learn: 0.5351254	total: 2.11s	remaining: 1.04s
67:	learn: 0.5342249	total: 2.14s	remaining: 1.01s
68:	learn: 0.5311808	total: 2.17s	remaining: 974ms
69:	learn: 0.5283548	total: 2.2s	remaining: 942ms
70:	learn: 0.5247881	total: 2.23s	remaining: 911ms
71:	learn: 0.5209752	total: 2.27s	remaining: 881ms
72:	learn: 0.5201172	total: 2.29s	remaining: 848ms
73:	learn: 0.5192480	total: 2.32s	remaining: 816ms
74:	learn: 0.5184071	total: 2.35s	remaining: 785ms
75:	learn: 0.5176191	total: 2.39s	remaining: 754ms
76:	learn: 0.5167942	total: 2.41s	remaining: 721ms
77:	learn: 0.5160195	total: 2.44s	remaining: 687ms
78:	learn: 0.5152589	total: 2.47s	remaining: 656ms
79:	learn: 0.5119913	total: 2.5s	remaining: 626ms
80:	learn: 0.5073001	total: 2.54s	remaining: 596ms
81:	learn: 0.5065625	total: 2.58s	remaining: 566ms
82:	learn: 0.5041230	total: 2.63s	remaining: 539ms
83:	learn: 0.5033608	total: 2.68s	remaining: 511ms
84:	learn: 0.5010020	total: 2.73s	remaining: 483ms
85:	learn: 0.4975558	total: 2.78s	remaining: 452ms
86:	learn: 0.4968258	total: 2.81s	remaining: 420ms
87:	learn: 0.4939299	total: 2.85s	remaining: 388ms
88:	learn: 0.4917999	total: 2.88s	remaining: 356ms
89:	learn: 0.4910804	total: 2.91s	remaining: 323ms
90:	learn: 0.4903890	total: 2.94s	remaining: 290ms
91:	learn: 0.4861898	total: 2.97s	remaining: 259ms
92:	learn: 0.4854750	total: 3.01s	remaining: 226ms
93:	learn: 0.4847897	total: 3.04s	remaining: 194ms
94:	learn: 0.4841197	total: 3.08s	remaining: 162ms
95:	learn: 0.4834241	total: 3.12s	remaining: 130ms
96:	learn: 0.4827672	total: 3.16s	remaining: 97.6ms
97:	learn: 0.4821157	total: 3.19s	remaining: 65.2ms
98:	learn: 0.4794806	total: 3.23s	remaining: 32.7ms
99:	learn: 0.4788197	total: 3.26s	remaining: 0us

In [7]:
catboost

In [67]:
# Melakukan prediksi pada data test
y_pred_catboost = catboost.predict(X_test)

In [68]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, roc_auc_score


y_pred_proba = catboost.predict_proba(X_test)[:,1]
#y_pred_custom = (y_pred_proba <= 0.4).astype(int)
roc_auc = roc_auc_score(y_test, y_pred_proba)
print(f"ROC AUC Score: {roc_auc}")

ROC AUC Score: 0.645149605082068

In [69]:
y_pred = catboost.predict(X_test)

In [70]:
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)

print(f"Accuracy: {accuracy}")
print(f"Precision: {precision}")
print(f"Recall: {recall}")
print(f"F1-Score: {f1}")
print("Confusion Matrix:")
print(conf_matrix)

Accuracy: 0.7935710453148627
Precision: 0.14329127912330786
Recall: 0.31440695089917153
F1-Score: 0.19686234817813766
Confusion Matrix:
[[47251  9303]
 [ 3393  1556]]

In [71]:
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)

# Create a DataFrame for organized display
metrics_df = pd.DataFrame({
    'Metric': ['Accuracy', 'Precision', 'Recall', 'F1-Score'],
    'Value': [accuracy, precision, recall, f1]
})

# Print metrics
print(metrics_df.to_string(index=False))

# Print confusion matrix with formatting
print("\nConfusion Matrix:")
print(conf_matrix)

   Metric    Value
 Accuracy 0.793571
Precision 0.143291
   Recall 0.314407
 F1-Score 0.196862

Confusion Matrix:
[[47251  9303]
 [ 3393  1556]]

In [17]:
df_test

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,0,0,0,1,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,0,1,0,1,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,0,1,1,1,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,0,0,0,1,2,315000.0,1575000.0,49018.5,1575000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,0,1,1,0,1,180000.0,625500.0,32067.0,625500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48739,456221,0,0,0,1,0,121500.0,412560.0,17473.5,270000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
48740,456222,0,0,0,0,2,157500.0,622413.0,31909.5,495000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
48741,456223,0,0,1,1,1,202500.0,315000.0,33205.5,315000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,3.0,1.0
48742,456224,0,1,0,0,0,225000.0,450000.0,25128.0,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
48743,456250,0,0,1,0,0,135000.0,312768.0,24709.5,270000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0

In [59]:
y_pred_test = catboost.predict(df_test)

In [60]:
y_pred_test

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [61]:
pred_df = pd.DataFrame(y_pred_test, columns=["TARGET"])
pred_df

       TARGET
0           0
1           0
2           0
3           0
4           0
...       ...
48739       0
48740       0
48741       0
48742       0
48743       0

[48744 rows x 1 columns]

In [62]:
pred_df["TARGET"].nunique()

2

In [63]:
df_id_df = pd.DataFrame(df_test, columns=["SK_ID_CURR"])

In [50]:
df_id_df

       SK_ID_CURR
0          100001
1          100005
2          100013
3          100028
4          100038
...           ...
48739      456221
48740      456222
48741      456223
48742      456224
48743      456250

[48744 rows x 1 columns]

In [64]:
final_sub = pd.concat([df_id_df, pred_df ], axis=1)
final_sub

       SK_ID_CURR  TARGET
0          100001       0
1          100005       0
2          100013       0
3          100028       0
4          100038       0
...           ...     ...
48739      456221       0
48740      456222       0
48741      456223       0
48742      456224       0
48743      456250       0

[48744 rows x 2 columns]

In [65]:
final_sub.to_csv("submit_zidan_catboost4.csv", index=False)